@{
    ViewData["Title"] = "Home Page";
}

<div style="color:black" class="row">
    <h1 >A.L.Y. Privet School</h1>
    <style>
        body {
            background-color: cornflowerblue;
        }
    </style>
    
</div>
<div class="jumbotron">
    <h1><img src="~/images/school.jpg" style="width:100%"></h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>LIne 1</h2>
        <p>
            For your information
        </p>
    </div>
    <div class="col-md-4">
        <h2>Line 2</h2>
        <p>Line 3 </p>
        <p><a class="btn btn-success" href="https://www.facebook.com/">See us on Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Serch on Goole</h2>
        <p>You can also use goole </p>
        <p><a class="btn btn-danger" href="https://www.google.be/">Serch in Google &raquo;</a></p>
    </div>
</div>
